<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of students</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>Students</h1>
  <ul>
    <% students.forEach(student => { %>
      <li>
        <%= student.name %>
        -
        <%= student.student ? 'yes' : 'no' %>
      </li>
    <% }); %>
  </ul>
  <img class="img-fluid" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fdisney%2Fimages%2F8%2F89%2FFinding_Nemo_-_Poster.jpg%2Frevision%2Flatest%3Fcb%3D20160317170204&f=1&nofb=1" alt="Finding Nemo Poster">
</body>
</html>